<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :difficulty %><br>
    <%= f.select :difficulty, options_for_select(["kerge", "keskmine", "raske"]) %>
  </div>
  <table class="table-striped table-responsive text-center">
    <tr>
      <th><%= f.label :min_options %></th>
      <th>&nbsp;&nbsp;-&nbsp;&nbsp;</th>
      <th><%= f.label :max_options %></th>
    </tr>
    <tr>
      <td><%= f.number_field :min_options , :size=>5 %></td>
      <td> - </td>
      <td><%= f.number_field :max_options , :size=>5 %></td>
    </tr>
    <tr>
      <th><%= f.label :min_correct %></th>
      <th>&nbsp;&nbsp;-&nbsp;&nbsp;</th>
      <th><%= f.label :max_correct %></th>
    </tr>
    <tr>
      <td><%= f.number_field :min_correct , :size=>5 %></td>
      <td> - </td>
      <td><%= f.number_field :max_correct , :size=>5 %></td>
    </tr>
  </table>
  
  <div class="field">
    <%= f.label :status %><br>
    <%= f.select :status, options_for_select(["Kinnitamata", "Kinnitatud", "Lukustatud"]) %>
  </div>

<fieldset id="labels">
  <legend>Labels</legend>
  <ul id="added_labels">
  <%# TODO: change into showing question_labels to enable removing existing labels%>
  <%= f.fields_for :labels_questions do |existing_form| %>
    <li class="change_label">
      <%= existing_form.hidden_field :label_id , :class=>"q_label" %> 
      <span class="fake_input"><%= existing_form.object.label.name%></span> 
      <span class="delete"><%= existing_form.check_box :_destroy%></span>
    </li>
  <% end %>
  <%= f.fields_for :labels do |label_form| %>
    <% if label_form.object.id.nil? then %>
      <li class="add_label">
        <%= label_form.text_field :name , :class=>"q_label" %>
      </li>
    <% end %>   
  <% end #label form %>   
  <%# TODO: add the possibility to add more labels by choosing from existing or by creating a new one %>
  </ul>
  <ul  id="existing_labels">
      <% Label.all.each do |label| %>
        <li onclick="label_is(<%= label.id %>, '<%= label.name %>')"><%= label.name %></li>
      <% end %>
  </ul>
  
</fieldset>

<fieldset id="answers">
  <legend>Answers</legend>
   <button id="addInput"  type="button">Add answer</button><br/>
   <%= f.fields_for :answers do |answers_form| %>
   <p> 
      <span class="destroy_this">
        <%= answers_form.check_box :_destroy%>  <%= answers_form.label :_destroy, 'Remove' %>
      </span>
      </br>
      <%= answers_form.text_area :content, placeholder: "Answer text" %> <br/>
      <%= answers_form.number_field :points, size:4 , placeholder: "points" %>
      <%= answers_form.label :correct %>
      <%= answers_form.check_box :correct %>
   </p>
   <% end # answer form %>
</fieldset>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end #question form %>
