<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :difficulty %><br>
    <%= f.select :difficulty, options_for_select(["kerge", "keskmine", "raske"]) %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.select :status, options_for_select(["Kinnitamata", "Kinnitatud", "Lukustatud"]) %>
  </div>

<fieldset id="answers">
  <legend>Answers</legend>
   <button id="addInput"  type="button">Add answer</button><br/>
   <%= f.fields_for :answers do |answers_form| %>
   <p> <span class="destroy_this"><%= answers_form.check_box :_destroy%></span></br>
      <%= answers_form.text_area :content, placeholder: "Answer text" %> <br/>
      <%= answers_form.number_field :points, size:4 , placeholder: "points" %>
      <%= answers_form.label :correct %>
      <%= answers_form.check_box :correct %>
   </p>
   <% end # answer form %>
</fieldset>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end #question form %>
<script>
$(document).ready(function() { 

answers=$("#answers");
  $('#addInput').click(function(){  
    n = answers.children("p").length;
    inputs='<p><textarea name="question[answers_attributes]['+n+'][content]" placeholder="Answer text"></textarea> <br/><input name="question[answers_attributes]['+n+'][points]" placeholder="points" size="4" type="number" /> <label for="question_answers_attributes_'+n+'_correct">Correct</label> <input name="question[answers_attributes]['+n+'][correct]" type="hidden" value="0" /><input id="question_answers_attributes_'+n+'_correct" name="question[answers_attributes]['+n+'][correct]" type="checkbox" value="1" /></p>';
    answers.append(inputs);
  });
});

</script>