<h1>Listing timetables</h1>

<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th>Registration</th>
      <th>Start</th>
      <th>End</th>
      <th>Slots</th>
      <th>Location</th>
      <th>Test</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @timetables.each do |timetable| %>
      <tr>
        <td><%= timetable.registration_start.to_formatted_s(:long) %> - <%= timetable.registration_end.to_formatted_s(:long) %></td>
        <td><%= timetable.start.to_formatted_s(:long) %></td>
        <td><%= timetable.end.to_formatted_s(:long) %></td>
        <td><%= timetable.slots %></td>
        <td><%= timetable.location %></td>
        <td><%= timetable.test.title %></td>
        <td><%= link_to 'Show', timetable %></td>
        <td><%= link_to 'Edit', edit_timetable_path(timetable) %></td>
        <td><%= link_to 'Destroy', timetable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Timetable', new_timetable_path %>
