<%= form_for(@role) do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% @role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :access %><br>
    <%= f.select :access, options_for_select([["0 - Saab küsimusi soovitada ja teste sooritada",0],["1 - Näeb lehe infot", 1],["2 - Haldab küsimusi",2],["3 - Haldab kasutajaid ja teste", 3]]) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
