<!--  FOR PRINT VIEW 

Testil on igal lehel näga variandi tähis (nt lk nr on A1, A2 jne)
Andmed kandidaadilt: nimi, isikukood (tühajd lahtrid)
Testi hoiatus, et kirjutada selgelt, mitte sodida, soditud (ka ebaselge nimi jmt) ei lähe arvesse
-->
<div id="header"><%= @attempt.timetable.test.title %> - <p id="version"><span><%= ('A'..'Z').first(@attempt.id).last %></span></p></div>

<div id="regist">
	<p>Väljad täita selge käekirjaga. Soditud, ebaselge või muud moodi loetamatu nimi ei lähe arvesse.</p>
	<table >
		<tr>
			<td><b>Nimi: </b></td>
			<td><input type="text" size="50"/></td>
		</tr>
		<tr>
			<td><b>Isikukood: </b></td>
			<td><input type="text" size="50"/></td>
		</tr>
	</table>
	
</div>
<div id="footer"></div>

<!-- FOR QUESTIONAIRE -->
<% if @grading then %>
	<div class="question"><b>Total points</b>: <%= @attempt.answers.where(question: @attempt.questions ).sum(:points) %></div>
<% end %>
<ol>
<% @attempt.questions.each do |q| %>
	<li class="question">
		<span class="text"><%=q.content%></span> 
		<% if @grading then %>
			<span class="q_points">(<%= @attempt.answers.where(:question=>q).sum(:points) %> p)</span>
		<% end %>
		<ul>
			<% @attempt.answers.where(:question=>q).each do |a| %>
				<li>
					<!-- <span class="box"></span> -->
					<%# check_box_tag("valik") %> 
					<span class="content <%= (a.correct and @grading!=nil) ? "correct_answer":"" %>"><%= a.content %></span>
					<% if (a.correct and @grading!=nil) then %>
						<span class="a_points">(<%= a.points %> p)</span> 
					<% end  %>
					
				</li>
			<% end %>
		</ul>
	</li>

<% end %>
</ol>


<%= link_to 'Back', attempts_path %> 
<%= link_to("Reroll", controller: "attempts", action: "restart", id: @attempt) %>

