

<p>
  <strong>Registration date:</strong>
  <%= @attempt.registration_date.to_formatted_s(:long) %>
</p>

<p>
  <strong>Result:</strong>
  <%= @attempt.result %>
</p>

<p>
  <strong>Start:</strong>
  <%= @attempt.start.to_formatted_s(:long) if @attempt.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @attempt.end.to_formatted_s(:long) if @attempt.end %>
</p>

<p>
  <strong>Timetable:</strong>
  <%= @attempt.timetable.test.title %> @ <%= @attempt.timetable.start.to_formatted_s(:long) %> - <%= @attempt.timetable.end.to_formatted_s(:long) %>
</p>

<p>
  <strong>User:</strong>
  <%= @attempt.user_id %>
</p>


<%= link_to 'Edit', edit_attempt_path(@attempt) %> |
<%= link_to 'Back', attempts_path %>
